.row
  #intro.span12
    = link_to "Donate", "http://www.justgiving.com/100hoursofsolitude", class: 'btn-large btn-success donate span3'

    #intro-copy.span8
      %p I'm going to write whatever you want, live, on webcam, for 100 hours straight. It's all to raise money for Arvon's work with children's literacy and writing projects.

      %p The 100 hours start at midnight GMT on Monday December 17th and run through to 4am on December 22nd.

      %p
        %strong
          Tell me what to write (and make a donation) by clicking the big green button.

.row
  .divider.span12

.row
  #video.span12
    <iframe width="360" height="235" src="http://www.ustream.tv/embed/12784704?v=3&amp;wmode=direct" scrolling="no" frameborder="0" style="border: 0px none transparent;">    </iframe>

.row
  .divider.span12

.row
  #viewer.span12

