.row
  #intro.span12

    #video-stream-wrapper
      <iframe id="video-stream" width="360" height="235" src="http://www.ustream.tv/embed/12784704?v=3&amp;wmode=direct" scrolling="no" frameborder="0" style="border: 0px none transparent;">    </iframe>

    #intro-copy
      %p I'm going to write whatever you want, live, on webcam, for 100 hours straight. It's all to raise money for Arvon's work with children's literacy and writing projects.

      %p The 100 hours start at midnight GMT on Monday December 17th and run through to 4am on December 22nd.

      
      %p.call-to-action
        = link_to "Tell me what to write by making a donation", "http://www.justgiving.com/100hoursofsolitude", class: 'btn btn-success'
        

.row
  .divider.span12

.row
  #viewer.span12

