.row
  #intro.span12
    = link_to "Donate", "http://www.justgiving.com/100hoursofsolitude", class: 'btn-large btn-success donate span3'

    #intro-copy.span8
      %p
        My name’s David Varela, and I've foolishly volunteered to write whatever you want, live, on webcam, with every keystroke seen as it is made, while taking a vow of silence for 100 hours in Ted Hughes' old Yorkshire farmhouse. It's all to raise money for Arvon's work with children's literacy and writing projects.
      %p
        If I get enough work to keep me busy for the whole 100 hours, I probably won't sleep - which should be very entertaining for everyone.
      %p
        The 100 hours start at midnight GMT on Monday December 17th and run through to 4am on December 22nd.
      %p
        %strong
          You can make a donation and tell me what you want me to write by clicking the big green button.

.row
  .divider.span12

.row
  #video.span12
    <iframe width="360" height="235" src="http://www.ustream.tv/embed/12784704?v=3&amp;wmode=direct" scrolling="no" frameborder="0" style="border: 0px none transparent;">    </iframe>

.row
  .divider.span12

.row
  #viewer.span12

