.row
  #intro.span12

    #video-stream-wrapper
      <iframe id="video-stream" width="360" height="234" src="http://www.ustream.tv/embed/12812910?v=3&amp;wmode=direct" scrolling="no" frameborder="0" style="border: 0px none transparent;">    </iframe>

    #intro-copy
      %p 
        On 7 February, at 3pm-9pm GMT, I will be writing stories live on this website for Nesta. 
        It’s all part of <a href="http://www.nesta.org.uk/assets/topics/local_bioeconomies">this event on biohacking</a>.
      %p 
        If you want to influence the story – or just heckle me over the web – 
        you can tweet @writingstudio or use the hashtag <a href="https://twitter.com/search?q=%23nestahottopic">#nestahottopics</a>.

      %p
        This website was originally built to raise money for 
        <a href="http://www.arvonfoundation.org/">Arvon</a>.
        You can see the documents I wrote for that below.

      %p.call-to-action
        = link_to "What do you think?", feedback_path, class: 'btn btn-success'

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_button_pinterest_pinit"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50cf9c332e14296f"></script>
<!-- AddThis Button END -->

.row
  #viewer.span12

