.container
  #drawer
    #current-document
      .title
        Current document
      .tab
        Two times for cheeses

    #documents-list
      .title
        All documents
      %ul
        %li Much ado about
        %li Stone henge
        %li this is my name
        %li Purple is great
        %li WIP - Foobar
        %li Simon & Garfunkle

  #document-view
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mollis tempor nisl euismod pulvinar. Suspendisse at leo nec tortor dictum venenatis in id dolor. Proin pellentesque, massa ut varius blandit, lorem nisi adipiscing est, tristique feugiat leo lorem sed nibh. Proin id arcu vitae urna aliquet aliquam. Ut non mauris magna. Vestibulum vehicula ligula vel ante dapibus eleifend. Cras feugiat felis pellentesque nibh faucibus molestie. Nulla mattis sem vitae risus lacinia imperdiet. Etiam orci ligula, gravida id porttitor feugiat, pulvinar ut nulla. Suspendisse nisl erat, sodales porta sodales sit amet, vulputate et felis. Aenean semper adipiscing tortor, in imperdiet purus dapibus sit amet. Vivamus vestibulum malesuada libero, vel molestie eros cursus ut. Aenean vulputate feugiat condimentum. Praesent tristique sodales ullamcorper. Donec auctor arcu ut orci bibendum quis dapibus ipsum molestie.

