%h1= @document.title

#document-body
  = raw @document.body

- content_for :end_javascript do
  :javascript
    HundredHours.require('documents/show', {
      currentDocumentId: '#{@document.id}'
    })
